<div class="padding">
    <h1>Popovers</h1>
    <p>Documentation and examples for adding Bootstrap popovers, like those found in iOS, to any element on your site.</p>

    <strong><h2>Overview</h2></strong>
    <p>Things to know when using the popover plugin:</p>
    <ul>
        <li>Popovers rely on the 3rd party library <a href="https://popper.js.org/">Popper.js</a> for positioning. You must include <a href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">popper.min.js</a> before bootstrap.js or use <code class="highlighter-rouge">bootstrap.bundle.min.js</code> / <code class="highlighter-rouge">bootstrap.bundle.js</code> which contains Popper.js in order for popovers to work!</li>
        <li>Popovers require the <a href="/docs/4.0/components/tooltips/">tooltip plugin</a> as a dependency.</li>
        <li>If you’re building our JavaScript from source, it <a href="/docs/4.0/getting-started/javascript/#util">requires <code class="highlighter-rouge">util.js</code></a>.</li>
        <li>Popovers are opt-in for performance reasons, so <strong>you must initialize them yourself</strong>.</li>
        <li>Zero-length <code class="highlighter-rouge">title</code> and <code class="highlighter-rouge">content</code> values will never show a popover.</li>
        <li>Specify <code class="highlighter-rouge">container: 'body'</code> to avoid rendering problems in more complex components (like our input groups, button groups, etc).</li>
        <li>Triggering popovers on hidden elements will not work.</li>
        <li>Popovers for <code class="highlighter-rouge">.disabled</code> or <code class="highlighter-rouge">disabled</code> elements must be triggered on a wrapper element.</li>
        <li>When triggered from anchors that wrap across multiple lines, popovers will be centered between the anchors’ overall width. Use <code class="highlighter-rouge">white-space: nowrap;</code> on your <code class="highlighter-rouge">&lt;a&gt;</code>s to avoid this behavior.</li>
        <li>Popovers must be hidden before their corresponding elements have been removed from the DOM.</li>
    </ul>
</div>