<div class="padding">
    <h2>Sizing</h2>
    <p>Cards assume no specific <code class="highlighter-rouge">width</code> to start, so they’ll be 100% wide unless otherwise stated. You can change this as needed with custom CSS, grid classes, grid Sass mixins, or utilities.</p>

    <div class="padding-top">
        <h4>Using grid markup</h4>
        <p>Wrap cards in columns and rows as needed</p>

        <div class="padding-top">
            <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <div class="padding-top">
        <h4>Using utilities</h4>
        <p>Use our handful of <a href="/docs/4.4/utilities/sizing/">available sizing utilities</a> to quickly set a card’s width.</p>

        <div class="padding-top">
            <div class="card w-75">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Button</a>
                </div>
              </div>
              
              <div class="card w-50">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Button</a>
                </div>
              </div>
        </div>
    </div>

    <div class="padding-top">
        <h4>Using custom CSS</h4>
        <p>Use custom CSS in your stylesheets or as inline styles to set a width.</p>

        <div class="padding-top">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</div>