<div class="padding">
  <h2>Alignment</h2>
  <p>Change the alignment of pagination components with <a href="/docs/4.4/utilities/flex/">flexbox utilities</a>.</p>
  <div class="padding-top">
    <h4>Left Align</h4>
    <p>Add <code class="highlighter-rouge">.justify-content-start</code></p>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
</div>

<div class="padding-top">
    <h4>Center Align</h4>
    <p>Add <code class="highlighter-rouge">.justify-content-center</code></p>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
</div>

<div class="padding-top">
    <h4>Right Align</h4>
    <p>Add <code class="highlighter-rouge">.justify-content-end</code></p>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
</div>
</div>