<div class="padding">
  <h2>Sizing</h2>
  <div class="padding-top">
    <h4>Large</h4>
    <p>Add <code class="highlighter-rouge">.pagination-lg</code></p>
    <nav aria-label="...">
        <ul class="pagination pagination-lg">
          <li class="page-item active" aria-current="page">
            <span class="page-link">
              1
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
        </ul>
      </nav>
</div>

<div class="padding-top">
    <h4>Small</h4>
    <p>Add <code class="highlighter-rouge">.pagination-sm</code></p>
    <nav aria-label="...">
        <ul class="pagination pagination-sm">
          <li class="page-item active" aria-current="page">
            <span class="page-link">
              1
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
        </ul>
      </nav>
</div>
</div>