<div class="padding">
    <h2>Slides only</h2>
    <p>Here’s a carousel with slides only. Note the presence of the <code class="highlighter-rouge">.d-block</code> and <code class="highlighter-rouge">.w-100</code> on carousel images to prevent browser default image alignment.</p>

    <div class="padding-top">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="./../../../img/carousel-first.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./../../../img/carousel-second.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./../../../img/carousel-third.png" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
    </div>
</div>