<div class="padding">
  <h2>Alignment</h2>
  <p>Spinners are built with <code class="highlighter-rouge">rem</code>s, <code class="highlighter-rouge">currentColor</code>, and <code class="highlighter-rouge">display: inline-flex</code>. This means they can easily be resized, recolored, and quickly aligned.</p>

  <div class="padding-top">
    <h3>Margin</h3>
    <p>Use <a href="/docs/4.4/utilities/spacing/">margin utilities</a> like <code class="highlighter-rouge">.m-5</code> for easy spacing.</p>

    <div class="spinner-border m-5" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div class="padding">
  <h2>Placement</h2>
  <p>Use <a href="/docs/4.4/utilities/flex/">flexbox utilities</a>, <a href="/docs/4.4/utilities/float/">float utilities</a>, or <a href="/docs/4.4/content/typography/">text alignment</a> utilities to place spinners exactly where you need them in any situation.</p>

  <div class="padding-top">
    <h3>Flex</h3>
    
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <strong>Loading...</strong>
      <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
    </div>
  </div>

  <div class="padding-top">
    <h3>Text align</h3>
    
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <div class="padding-top">
    <h3>Floats</h3>
    
    <div class="clearfix">
      <div class="spinner-border float-right" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

</div>