<div class="padding">
    <h2>Button States</h2>
    <div class="padding-bt">
        <h5>Active State</h5>
        <p>Buttons will appear pressed (with a darker background, darker border, and inset shadow) when active. <strong>There’s no need to add a class to <code class="highlighter-rouge">&lt;button&gt;</code> s as they use a pseudo-class</strong>. However, you can still force the same active appearance with <code class="highlighter-rouge">.active</code> (and include the <code class="highlighter-rouge">aria-pressed="true"</code> attribute) should you need to replicate the state programmatically.</p>
        <button type="button" class="btn btn-primary active">Primary button</button>
        <button type="button" class="btn btn-secondary active">Button</button>
    </div>
    
    <div class="padding-bt">
        <h5>Disabled State</h5>
        <p>Make buttons look inactive by adding the disabled boolean attribute to any <code class="highlighter-rouge">&lt;button&gt;</code> element.</p>
        <button type="button" class="btn btn-primary" disabled>Primary button</button>
        <button type="button" class="btn btn-secondary" disabled>Button</button>
    </div>
</div>