<div class="padding">
    <h2>Default Buttons</h2>
    Choose from several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.

    <div class="padding-top">
        <button class="btn btn-primary">Primary</button>
        <button class="btn btn-secondary">Secondary</button>
        <button class="btn btn-success">Success</button>
        <button class="btn btn-danger">Danger</button>
        <button class="btn btn-warning">Warning</button>
        <button class="btn btn-info">Info</button>
        <button class="btn btn-light">Light</button>
        <button class="btn btn-dark">Dark</button>
        <button class="btn btn-link">Link</button>
    </div>
</div>