<div>
    <h3>Small Buttons</h3>
    <div class="smallDefault">
        <h5>Default</h5>
        <button class="btn btn-sm btn-primary">Primary</button>
        <button class="btn btn-sm btn-secondary">Secondary</button>
        <button class="btn btn-sm btn-success">Success</button>
        <button class="btn btn-sm btn-danger">Danger</button>
        <button class="btn btn-sm btn-warning">Warning</button>
        <button class="btn btn-sm btn-info">Info</button>
        <button class="btn btn-sm btn-light">Light</button>
        <button class="btn btn-sm btn-dark">Dark</button>
        <button class="btn btn-sm btn-link">Link</button>
    </div>
    <div class="smallDefault" style="margin-top: 20px">
        <h5>Outline</h5>
        <button class="btn btn-sm btn-outline-primary">Primary</button>
        <button class="btn btn-sm btn-outline-secondary">Secondary</button>
        <button class="btn btn-sm btn-outline-success">Success</button>
        <button class="btn btn-sm btn-outline-danger">Danger</button>
        <button class="btn btn-sm btn-outline-warning">Warning</button>
        <button class="btn btn-sm btn-outline-info">Info</button>
        <button class="btn btn-sm btn-outline-light">Light</button>
        <button class="btn btn-sm btn-outline-dark">Dark</button>
        <button class="btn btn-sm btn-outline-link">Link</button>
    </div>
</div>