<div class="padding">
    <h2>Collapse with link or button</h2>
    <p>Click the buttons below to show and hide another element via class changes:</p>
    <ul>
        <li><code class="highlighter-rouge">.collapse</code> hides content</li>
        <li><code class="highlighter-rouge">.collapsing</code> is applied during transitions</li>
        <li><code class="highlighter-rouge">.collapse.show</code> shows content</li>
    </ul>
    <p>You can use a link with the <code class="highlighter-rouge">href</code> attribute, or a button with the <code class="highlighter-rouge">data-target</code> attribute. In both cases, the <code class="highlighter-rouge">data-toggle="collapse"</code> is required.</p>

    <div class="padding-top">
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Link with href
            </a>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>
</div>