<div class="padding">
    <h2>States</h2>
    <div class="padding-top">
        <h4>Active</h4>
        <p>Add <code class="highlighter-rouge">.active</code> to items in the dropdown to <strong>style them as active</strong>.</p>

        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Regular link</a>
            <a class="dropdown-item active" href="#">Active link</a>
            <a class="dropdown-item" href="#">Another link</a>
        </div>
    </div>

    <div class="padding-top">
        <h4>Disabled</h4>
        <p>Add <code class="highlighter-rouge">.disabled</code> to items in the dropdown to <strong>style them as disabled</strong>.</p>

        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Regular link</a>
            <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Disabled link</a>
            <a class="dropdown-item" href="#">Another link</a>
        </div>
    </div>
</div>