<div class="padding">
    <h2>Multiple inputs</h2>
    <p>While multiple <code class="highlighter-rouge">&lt;input&gt;</code>s are supported visually, validation styles are only available for input groups with a single <code class="highlighter-rouge">&lt;input&gt;</code>.</p>

    <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">First and last name</span>
        </div>
        <input type="text" aria-label="First name" class="form-control">
        <input type="text" aria-label="Last name" class="form-control">
      </div>
</div>