<div class="padding">
    <h2>Multiple addons</h2>
    <p>Multiple add-ons are supported and can be mixed with checkbox and radio input versions.</p>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
          <span class="input-group-text">0.00</span>
        </div>
        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
      </div>
      
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
        <div class="input-group-append">
          <span class="input-group-text">$</span>
          <span class="input-group-text">0.00</span>
        </div>
      </div>
</div>